/* Fondo del navbar */
.navbar {
  background-color: #181818 !important; /* Fondo negro */
  color: #ffffff !important; /* Texto blanco */
}

/* Logo y texto de la marca */
.navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 26px; /* Tamaño de letra más grande */
  font-weight: bold;
  color: #ffffff !important; /* Texto blanco */
  margin-left: 15px; /* Espacio del logo y marca desde el borde izquierdo */
}

/* Estilo para el logo de la navbar */
.navbar-logo {
  width: 60px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el texto de la marca */
}

/* Estilos de los enlaces del navbar */
.nav-link {
  font-size: 18px; /* Tamaño de letra más grande */
  color: #ffffff !important; /* Color blanco para los enlaces */
  text-decoration: none;
  margin-right: 15px; /* Espaciado entre enlaces */
  cursor: pointer; /* Icono de clic para los enlaces */
}

/* Efecto de hover para los enlaces */
.nav-link:hover {
  color: #cccccc !important; /* Un tono gris claro al hacer hover */
  text-decoration: none;
}

/* Efecto de hover para el ícono del carrito */
.nav-link:hover .bi-cart {
  color: #cccccc !important; /* Cambia el color del carrito a gris claro en hover */
}

/* Estilos del fondo y texto del dropdown */
.navbar-dark .navbar-nav .dropdown-menu {
  background-color: #181818 !important; /* Fondo negro */
  color: #ffffff !important; /* Texto blanco */
}

/* Estilos para los elementos dentro del dropdown */
.navbar-dark .navbar-nav .dropdown-item {
  color: #ffffff !important; /* Color blanco para los elementos */
  cursor: pointer; /* Icono de clic para dropdown */
}

/* Estilo para el hover de los elementos del dropdown */
.navbar-dark .navbar-nav .dropdown-item:hover {
  background-color: #444444 !important; /* Fondo gris oscuro al hacer hover */
  color: #ffffff !important; /* Texto blanco al hacer hover */
}

/* Ajustes para el menú desplegable en hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Ajuste opcional */
}

/* Alineación y espaciado del carrito de compras */
.nav-item:last-child {
  margin-right: 0px; /* Más cerca del borde derecho */
}

/* Evita que el enlace "Servicios" cambie a azul al hacer hover */
.dropdown-toggle:hover {
  color: #cccccc !important;
  text-decoration: none;
}
