<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand ms-2" href="#">François Hollan Banquetería</a>
      
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button">
              Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="#">Salones</a></li>
              <li><a class="dropdown-item" href="#">Banquetería</a></li>
              <li><a class="dropdown-item" href="#">Entretenimiento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mis Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-basket3-fill"></i> <!-- Ícono de carrito -->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
